<!DOCTYPE html>
{% load bootstrap3 %}
<html>
<head xmlns="http://www.w3.org/1999/html">
    {% load staticfiles %}
    {% bootstrap_css %}

    {% bootstrap_javascript jquery=True  %}

    <title>{% block title %}Simple IT Blog{% endblock %} </title>

    <link href="{% static "img/favicon.png"%}" rel="shortcut icon" type="image/x-icon" />



    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

    <script type="text/javascript" src="{% static "js/jquery.cookie.js"%}"></script>

    <script type="text/javascript" src="{% static "js/themas.js"%}"></script>

    <meta name="google" value="notranslate">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="/st/css/blog-home.css" type="text/css" media="screen" charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block js %}
    {% endblock js %}
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a id="dark"  href="#">Dark Theme</a>
                    </li>
                    <li>
                        <a id="light"  href="#">Light Theme</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
        <hr>
            {% block body %}{% endblock %}
        </div>
    </div>


    {% block modal %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
{% include "includes/show_img.html" %}
</html>