{% extends 'base.html' %}
{% block body %}
    {% for record in records  %}

        <p class="lead"><a href="/post/{{ record.id }}/">{{ record.title|safe}}</a></p>
        <p><span class="glyphicon glyphicon-time"></span> {{ record.date_publish}}</p>

                <p>
                {% autoescape off %}
                    {{ record.description }}
                {% endautoescape %}
                </p>

        {% if record.content   %}
            <a class="btn btn-primary entry-comments" href="/post/{{ record.id }}/">Читать дальше <i>(Комментарии {{ record.comments.all.count }})</i><span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
        <hr>
        <hr>
    {% endfor %}

    {% for page in pages %}
        {% if page == current_page %}
            {{ page }}
        {% else %}
            <a href="/{{ page }}/">{{ page }}</a>
        {% endif %}
    {% endfor %}
 {% endblock %}s
