{% extends "base.html" %}
{% load bootstrap3 %}
{% block body %}
    {% block title %}{{ record.title }}{% endblock %}
    {% autoescape off %}
    <p class="lead">{{ record.title }}</p>
    <p><span class="glyphicon glyphicon-time"></span> {{ record.date_publish|date:"M d, Y H:m:s" }}</p>
    <br/>
    <hr>
    {{ record.description }}<br/>
    <hr>
    {{ record.content  }}<br/>

    <hr>
        <div class="icon-comments">
            {% for comment in record.comments.all %}
                   <div class="post reply"><p><span class="glyphicon glyphicon-time"></span> {{ comment.date_publish|date:"M d, Y H:m:s " }} {{ comment.user_name}}</p>


                        <span>{{ comment.message }}</span>

                    </div>
                <hr>
            {% endfor %}
        </div>
    {% endautoescape %}
    <hr>
    <form method="POST" action="" >
          <div class="modal-body">
                {% csrf_token %}
                {% bootstrap_form form %}

          </div>
          <div class="modal-footer">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Добавить Комментарий
                    </button>
                {% endbuttons %}
          </div>
    </form>



{% endblock %}