
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.reply {
    display: inline-block;
    min-width: 26.4em;
    max-width: 100%;
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.post {
    padding: 1px 3px 3px;
    margin: 0;
}
html, body {
    color: #333333;
    font-family: Verdana,sans-serif;
    font-size: 1em;
}

img {
    cursor: pointer;
}
.entry-comments{
    text-decoration: none;
    border-bottom: dotted 1px #0060b6;
}
