<div class="modal fade" id="Modal_show_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">
        <div class="main_settings">
           <img src="" id="img_show" style="width: 100%;"/>
            <div style="clear: both; float: none;"></div>
        </div>

    </div>
  </div>
</div>
</div>